__pycache__/
checkpoints/

datasets/ae_photos
datasets/apple2orange
datasets/summer2winter_yosemite
datasets/horse2zebra
datasets/monet2photo
datasets/cezanne2photo
datasets/ukiyoe2photo
datasets/vangogh2photo
datasets/maps
datasets/cityscapes
datasets/facades
datasets/iphone2dslr_flower
datasets/mini
datasets/mini_pix2pix
datasets/mini_colorization
datasets/mini_grumpifycat